body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

.content_login
  background-color: #EEE
  padding: 2em

  form
    background-color: white
    width: 200px
    margin: 1em auto

    div
      padding 1em

      input
      padding: .5em

    button
      background-color: black
      color: white
      padding: .5em

.content_grupos
  background-color: #ccc
  display: none
  padding: 2em

  div
    width: 150px
    height: 100px
    padding: 1em
    background-color: white
    color: black
    cursor: pointer
    display: inline-block
    margin: 1em

.content_chat
  background-color: #EEE
  width: 100%
  display: none

  h3
    background-color: white
    color: #ccc
    border: 1px solid #ccc
    border-radius: 5px

  div
    background-color : white
    color: black
    margin: .5em
    padding: .5em
    border: 1px solid #ccc
    border-radius: 5px

    span
      padding: .5em
      margin: .5em 1em .5em 1em

      .username
        background-color: #EEE
        border: 1px solid #ccc
      .msg
        background-color: white
        border: 1px solid #ccc


.content_input_chat
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  height: 40px
  display: none

  input
    height: 100%
    width: 78%
    margin: 0
    padding: .2em
  button
    width: 20%
    height: 100%
    padding: 0
    margin: 0

.alert_user_connect
  position: fixed
  bottom: 0
  right: 0
  margin: 2em
  padding: 1em
  background-color: #eca2a2
  color: black
  display: none

