body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
.content_chat
  background-color: #EEE
  width: 100%

  div
    background-color : white
    color: black
    margin: .5em
    padding: .5em
    border: 1px solid #ccc
    border-radius: 5px
    
.content_input_chat
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  height: 100px

  input
    height: 100%
    width: 80%
    margin: 0
  button
    width: 20%
    margin: 0

